/* PrimeReact CSS should be imported before Tailwind to prevent conflicts */
@import "primereact/resources/themes/lara-dark-blue/theme.css";
@import "primereact/resources/primereact.min.css";

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add this to ensure PrimeReact components are properly styled */
@layer base {
  button, input, select, textarea {
    @apply focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}

.p-dialog .p-dialog-content {
  padding: 10px 10px;
}

.p-dialog .p-dialog-header {
  padding: 15px;
  border-bottom: 1px solid #171717;
}

.p-dialog .p-dialog-footer {
  padding: 15px;
  border-top: 1px solid #171717;
}

.p-component {
  padding: 10px;
}

.p-datepicker-month.p-link {
  padding: 0 5px;
}

.p-datepicker-year.p-link {
  padding: 0 5px;
}